* {
    margin: 0;
    padding: 0;
}

.container3 {
    height: 400px;
    width: 100%;

}

.container3 h2 {
    display: flex;
    font-size: 80px;
    align-items: center;
    justify-content: center;
    height: 400px;
    background-color: #282A35;
    border-bottom: 1px solid black;
    margin: 0;
    color: white;
}

.selec {
    width: 100%;
    background-color: #D9EEE1;
    display: flex;
    justify-content: center;
}

.selection {
    width: 50%;
    height: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.categorie3 {
    background-color: #D9EEE1;
    width: 50%;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.categorie3 input {
    width: 100%;
    height: 100%;
}

.titre1 {
    background-color: #D9EEE1;
    width: 50%;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;

}

.titre1 input {
    width: 100%;
    height: 100%;
}

.detaille {
    width: 50%;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.detaille input {
    width: 100%;
    height: 100%;
}

input {
    font-size: 20px;
    text-align: center;
}

.cont_all {
    background-color: #D9EEE1;
}

.detaille1 {
    text-align: center;
}

.container6 {
    width: 100%;
    text-align: center;
}

.cont_langue {
    width: 100%;
    display: flex;
    justify-content: center;
}

.langue {
    border: 2px solid black;
    width: 20%;
    height: 64px;
    border-radius: 25px;
    background-color: #D9EEE1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.container10 {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    height: 200px;
    width: 80%;
    justify-content: flex-end;
}

.container10 a {
    font-size: 22px;
    text-decoration: none;
    cursor: pointer;
    margin-left: auto;
    font-weight: bold;
    color: #282A35;
}

.container10 a:hover {
    color: black;
    background-color: #059862;
}

.container10 ul {
    list-style: none;
}

.btn1 {
    position: absolute;
    margin-top: 100px;
    margin-left: 188px;
    width: 246px;
    height: 61px;
    border-radius: 25px;
    background-color: #D9EEE1;
    font-size: 22px;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    color: #282A35;
}

.btn1 a {
    font-size: 22px;
    text-decoration: none;
    cursor: pointer;
    margin-left: auto;
    font-weight: bold;
    color: #282A35;
}

.btn:hover {
    color: black;
    background-color: #059862;
}

.upload  {
position: absolute;
margin-top: 150px;
margin-left: 165px;
}