body {
    font-family: 'roboto', 'sans-serif';
}

h1.logo {
    margin-left: 234px;
    margin-right: auto;
    margin-top: 10px;
}

.user-content {
    color: red;

}

.logo-container {
    flex: 1;
    margin-right: 240px;
}

.logo span {
    font-size: 30px;
    color: blue;
}

.deconnection-container {
    cursor: pointer;
    color: black;
}

.connexion-container {
    flex: 2;
    margin-right: 140px;
    cursor: pointer;
}
.contenaire5 {
    height:400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #282A35;
}

.box {
    color: rgb(241, 223, 223);
    padding: 5px;
    width: 225px;
    margin-right: auto;
    margin-left: auto;
}
.box3 {
    height: 240px;
    width: 240px;
}

.box1 {
    background: #fff;
    color: rgb(245, 149, 108);
    border: 1px solid #000;
    background-size: cover;
}

.nav {
    background: black;
    grid-column: 1 / -1;
    margin-bottom: 83px;
}


.container {
    grid-column: 3 / span 4;
    grid-row: 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 20px;
    margin-bottom: 83px;
}



img {
    height: 100%;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .sidebar {
        grid-column: 1 / -1;
    }

    .sidebar img {
        margin-top: 50px;
    }

    .container {
        grid-column: 2 / span 4;
        grid-row: 4;
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: minmax(200px, auto);
        grid-gap: 20px;
    }
}