*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.tableau {
    display: flex;
    width: 100%;
    height: 30px;
    background-color: greenyellow;
}

.langage {
    display: flex;
    align-items: center;
    width: 20%;
    height: 30px;
    border: 1px solid black;
    justify-content: center;

}
.categorie {
    display: flex;
    align-items: center;
    width: 20%;
    height: 30px;
    border: 1px solid black;
    justify-content: center;

}
.tips {
    display: flex;
    align-items: center;
    width: 40%;
    height: 30px;
    border: 1px solid black;
    justify-content: center;
}

.option {
    display: flex;
    align-items: center;
    width: 20%;
    height: 30px;
    border: 1px solid black;
    justify-content: center;

}
.h2 {
    display: flex;
    font-size: 80px;
    align-items: center;
    justify-content: center;
    height: 275px;
    background-color: #282A35;
    border-bottom: 1px solid black;
    margin: 0;
    color: white;
}
