* {
    margin: 0;
    padding: 0;
}


body {
    margin: 0;
    padding: 0;
    background: url(../img/img_conect.jpg);
    background-size: cover;
    font-family: sans-serif;


}

.loginBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 450px;
    padding: 50px;
    border-radius: 10px;
    box-sizing: border-box;
    background: #010101;
    opacity: 0.7;
}

.user {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: calc(-60px/2);
    left: calc(50% - 50px);
}

h2 {
      margin: 0;
    padding: 40px 0 20px;
    color: #059862;
    text-align: center;
    font-weight: bold;
}

.loginBox p {
      margin: 0;
    padding: 0;
    font-weight: bold;
    color: #059862;
}

.loginBox input {
    width: 100%;
    margin-bottom: 20px;
}

.loginBox input {
    width: 100%;
    margin-bottom: 20px;
    border: none;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.loginBox input[type="text"],
.loginBox input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

::placeholder {
    color: rgba(255, 255, 255, .5);
}

.loginBox input[type="submit"] {
   border: none;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 20px;
    background: #059862;
    cursor: pointer;
    border-radius: 20px;
    margin-bottom: 60px;

}

.loginBox input[type="submit"]:hover {
    background: #D9EEE1;
    color: #262626;
}

.loginBox a {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}

.compte {
    color: #ff0921;
}