header {
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
}

nav {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;

}

nav :hover {
    background-color: #059862;
    height: 100px;
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;

}

nav a {
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #282A35;
    font-weight: bold;
}

nav a:hover {
    color: #282A35;
}

.logo img {
    height: 100px;
    width: 100px;
}

.nav {
    height: 100%;
    background-color: #282A35;
    grid-column: 1 / -1;
    padding-bottom: 100px;
}

.nav h1 {
    color: white;
    font-family: 'Poppins',
        sans-serif;
    font-weight: 400;
    margin-bottom: 50px;
    margin-top: 50px;
    font-size: 40px;
}

.nav p {
    color: white;
    font-family: 'Poppins',
        sans-serif;
    font-weight: 200;
    font-size: 20px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

    .nav p {
        width: 80%;
        margin-right: auto;
        margin-left: auto;
    }
}



@media screen and (max-width:767px) and (min-width:480px) {
    .nav p {
        width: 80%;
        margin-right: auto;
        margin-left: auto;
    }

    
    .nav h1 {
        font-size: 20px;
    }

    .nav p {
        font-size: 15px;
    }

}



@media screen and (max-width:479px) {

    .nav {
        padding-bottom: 25px;
    }

    .nav h1 {
        font-size: 20px;

    }

    .nav p {
        width: 80%;
        font-size: 15px;
        margin-bottom: 50px;
    }

}