header {
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
}

nav {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;

}

nav :hover {
    background-color: #059862;
    height: 100px;
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;

}

nav a {
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #282A35;
    font-weight: bold;
}

nav a:hover {
    color: #282A35;
}

.logo img {
    height: 100px;
    width: 100px;
}

.nav {
    height: 300px;
    background-color: #282A35;
    grid-column: 1 / -1;
    padding-bottom: 24px;
}

.nav h1 {
    color: white;
    font-family: 'Poppins',
        sans-serif;
    font-weight: 400;
    margin-bottom: 50px;
    margin-top: 50px;
    font-size: 40px;
}

.nav p {
    color: white;
    font-family: 'Poppins',
        sans-serif;
    font-weight: 200;
    font-size: 20px;
}

@media only screen and (max-width: 320px) {

    .container2 a {
        font-size: 8px;
        text-decoration: none;
        cursor: pointer;
        margin-left: auto;
        font-weight: bold;
    }

    .nav h1 {
        color: white;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        margin-bottom: 50px;
        margin-top: 50px;
        font-size: 18px;
    }

    .nav p {
        color: white;
        font-family: 'Poppins', sans-serif;
        font-weight: 200;
        font-size: 10px;
    }


@media only screen and (min-width: 321px) and (max-width: 799px) {
    .nav h1 {
            color: white;
            font-family: 'Poppins', sans-serif;
            font-weight: 400;
            margin-bottom: 50px;
            margin-top: 50px;
            font-size: 30px;
    }
}



@media only screen and (min-width: 800px) and (max-width: 966px) {}