* {
    margin: 0;
    padding: 0;
}

.container-mik {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, auto);
    text-align: center;
}

.container {
    grid-column: 1 / span 6;
    grid-row: 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 20px;
    padding-top: 50px;
    background-color: #D9EEE1;
}

img {
    height: 80%;
    width: 50%;
}

.footer {
    background-color: #282A35;
    grid-column: 1 / -1;
    height: 100px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}


h2 {
    display: flex;
    font-size: 80px;
    align-items: center;
    justify-content: center;
    height: 400px;
    background-color: #282A35;
    border-bottom: 1px solid black;
    margin: 0;
    color: white;
}

.container2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35%;

}

.container4 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    background-color: #D9EEE1;
}

.container4 a {
    text-decoration: none;
    color: #282A35;
    font-weight: bold;
    font-size: 22px;
}

.container4 a:hover {
    border: 10px solid #059862;
    height: auto;
    width: auto;
    display: inline-block;
    align-items: center;
    display: flex;
    justify-content: center;
    padding:20px;
}

.container4 li {
    list-style-type: none;
}

.ul {
    list-style-type: none;
    font-size: 40px;

}

.p {
    font-size: 40px;
}

.btn {
    width: 225px;
    height: 109px;
    border-radius: 25px;
    background-color: #D9EEE1;
}

.titre input {
    height: 50px;
    width: 100px;
}

.detaille input {
    width: 800px;
    height: 400px;
}

.container2 a {
    font-size: 22px;
    text-decoration: none;
    cursor: pointer;
    margin-left: auto;
    font-weight: bold;
    color: #282A35;
}

.btn:hover {
    color: black;
    background-color: #059862;
}

.container2 a:hover {
    color: black;
    background-color: #059862;
}

.container2 ul {
    list-style: none;
}

div.container2 {
    margin: 50px;
}